exportPattern("^[[:alpha:]]+")
importFrom("methods", "new")
importFrom("MASS", "lm.ridge")
importFrom("plotly", "ggplotly")
importFrom("dplyr", "%>%")
import("nycflights13")
import("tools")
import("caret")
import("elasticnet")
import("mlbench")
import("rminer")
import("ggplot2")